    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Pillpal</h2>
                <p>We are building a medicine adherence system that empowers and encourages TB sufferers to stick to their treatment. It will help them deal with the psychological and clinical effects of the disease, while providing a simple reminder to take their pills. </p>
				<p>The greatest risk we face with TB is related to sufferers not sticking to their treatment plan. This can lead to the development of drug resistant TB with adds strain to the system, posing a bigger risk to non-sufferers. Patients do not sabotage themselves, but when faced with 6 – 30 months of treatment with a handful of pills every day, it's easy to forget. Unfortunately, forgetting to take pills can derail treatment. That’s a lot of burden for someone suffering from a fatal disease.</p>
				<p>Doctors can setup the pill schedule, prescribe the medication and track patients and their adherence to their treatment plans. They get alerted when a patient misses a dose and can make contact immediately. At the same time the app will start to bug the patient until they take their medication.</p>
        </div>
    </section>